# OS
.DS_Store
Thumbs.db

# Python bytecode & build
__pycache__/
*.py[cod]
*$py.class
*.so
build/
dist/
wheels/
*.egg-info/
*.egg
MANIFEST

# Virtual envs
.venv/
venv/
env/
ENV/
.env
.envrc

# Packaging / lockfiles (uncomment if you use them and want to ignore)
# Pipfile.lock
# poetry.lock
# pdm.lock
.pdm-python
.pdm-build/

# Testing / coverage
.pytest_cache/
.tox/
.nox/
.coverage
.coverage.*
.cache
htmlcov/
coverage.xml
*.cover
.hypothesis/

# Type checkers
.mypy_cache/
.dmypy.json
dmypy.json
.pytype/
.pyre/

# Notebooks
.ipynb_checkpoints/

# Docs
docs/_build/

# Tools / editors (uncomment what your team uses)
.idea/
.vscode/
.ruff_cache/
.pypirc
.cursorignore
.cursorindexingignore

# Framework-specific (uncomment if relevant)
# db.sqlite3
# instance/
# .scrapy
# ipython_config.py
# profile_default/

data/features
data/windows_multi_final

